:root {
    --background-light: #ef3a2d6b;
    --background-white: #FFFFFF;
    --text-dark: #1F2937;
    --color-primary: #EF3B2D;
}

* {
    margin: 0;
    padding: 0;
    box-shadow: border-box;
    font-family: Rubik, sans-serif;
    color: var(--text-dark);
}

body {
    width: 100vw;
    height: 100vh;
    background-color: var(--background-white);
}

.container {
    width: 100%;
    height: 100%;
    display: flex;
}

.sidebar {
    width: 100px;
    background-color: var(--color-primary);
}

nav {
    height: 100px;
    background-color: var(--background-light);
    width: calc(100vw - 100px);
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 20px;
}

.btn {
    padding: 20px 30px;
    border-radius: 15px;
}

a.btn {
    text-decoration: none;
}

.btn-primary {
    background-color: var(--color-primary);
    color: white;
}

main {
    display: flex;
    padding: 20px;
}

section.graph {
    width: 33%;
    height: 100%;
}

.graph_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.linha_header {
    width: 50%;
    height: 0.5px;
    border-radius: 2px;
    background-color: black;
}

.graph_header_subtitle {
    margin-top: 10px;
}